
<!--<h1 class="pageTitle">Create Campaign</h1>-->
<img class="pageImg" src="../assets/createCampaign_button.svg">
    <div class="overallContainer">
        <form>
            <div class="formText">
                <div class="oneLineCreateCampaign"><label class="createCampaignTitles nameCampaign">Campaign Name </label>
                    <input type="string" class="createCampaignInputs" ng-model="createNameOfCampaign"></div>

                <p>Sign-Up Dates</p>

                <div class="oneLineCreateCampaign"><label class="createCampaignTitles startSignUp">Start</label>
                    <input type="date" class="createCampaignInputs" ng-model="createStartSignUpDate"></div>

                <div class="oneLineCreateCampaign"><label class="createCampaignTitles endSignup">End</label>
                    <input type="date" class="createCampaignInputs" ng-model="createEndSignUpDate"></div>

                <p>Survey Dates</p>

                <div class="oneLineCreateCampaign"><label class="createCampaignTitles startSurvey">Start</label>
                    <input type="date" class="createCampaignInputs" ng-model="createStartSurveyDate"></div>

                <div class="oneLineCreateCampaign"><label class="createCampaignTitles endSurvey">End</label>
                    <input type="date" class="createCampaignInputs" ng-model="createEndSurveyDate"></div>

                <!--Different date picker-->
                <!--<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />-->

                <!--<script type="text/javascript">-->
                    <!--$(function() {-->
                        <!--$('input[name="daterange"]').daterangepicker();-->
                    <!--});-->
                <!--</script>-->

            </div>
            <div class="oneLineCreateCampaign createCampaignSubmit"><button ng-click="submitCreateSurveyData()" class="btn btn-default submitNewCampaign">Submit</button></div>
        </form>
    </div>
    <div class="newCampaignDisplay">
        <p class="displayFinalCampaign" ng-show="showNewCampaign">Name of Campaign: <span class="resultedCampaignTitle">{{resultedCampaignTitle}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">Start Sign Up Date: <span class="resultedCampaignStartSignUp">{{resultedCampaignStartSignUp}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">End Sign Up Date: <span class="resultedCampaignEndSignUp"> {{resultedCampaignEndSignUp}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">Start Survey Date: <span class="resultedCampaignStartSurvey">{{resultedCampaignStartSurvey}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">End Survey Date: <span class="resultedCampaignEndSurvey">{{resultedCampaignEndSurvey}}</span></p>
    </div>

