
<h1 class="pageTitle">Create A Campaign</h1>
    <div class="overallContainer">
        <form>
            <div class="formText">
                <div class="oneLineCreateCampaign">
                    <label class="createCampaignTitles nameCampaign">Campaign Name </label>
                    <input type="string" class="createCampaignInputs" ng-model="createNameOfCampaign">
                    </div>

                <div id="middleRow">
                    <div class="formSignUpDates">
                        <p class="dateLabels">Sign-Up</p>


                        <div id="signUp">
                            <div class="startLabelSignUp">
                            <div class="oneLineCreateCampaign"><label class="createCampaignTitles startSignUp">Start</label>
                            </div>

                            <div class="startInputSignUp">
                            <input type="date" ng-model="createStartSignUpDate"></div>
                            </div>

                            <div class="endLabelSignUp">
                            <div class="oneLineCreateCampaign"><label class="createCampaignTitles endSignup">End</label>
                            </div>

                            <div class="endInputSignUp">
                            <input type="date" ng-model="createEndSignUpDate"></div>
                            </div>
                        </div>
                    </div>






                    <div class="formSurveyDates">
                    <p class="dateLabels">Survey</p>
                        <div class="oneLineCreateCampaign"><label class="createCampaignTitles startSurvey">Start</label>
                            <input type="date" ng-model="createStartSurveyDate"></div>

                        <div class="oneLineCreateCampaign"><label class="createCampaignTitles endSurvey">End</label>
                            <input type="date" ng-model="createEndSurveyDate"></div>
                    </div>
                </div>
                <!--Different date picker-->
                <!--<input type="text" name="daterange" value="01/01/2015 - 01/31/2015" />-->

                <!--<script type="text/javascript">-->
                    <!--$(function() {-->
                        <!--$('input[name="daterange"]').daterangepicker();-->
                    <!--});-->
                <!--</script>-->

            </div>
            <div class="oneLineCreateCampaign createCampaignSubmit"><button ng-click="submitCreateSurveyData()" class="btn btn-default submitNewCampaign">Submit</button></div>
        </form>
    </div>
    <div class="newCampaignDisplay">
        <p class="displayFinalCampaign" ng-show="showNewCampaign">Name of Campaign: <span class="resultedCampaignTitle">{{resultedCampaignTitle}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">Start Sign Up Date: <span class="resultedCampaignStartSignUp">{{resultedCampaignStartSignUp}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">End Sign Up Date: <span class="resultedCampaignEndSignUp"> {{resultedCampaignEndSignUp}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">Start Survey Date: <span class="resultedCampaignStartSurvey">{{resultedCampaignStartSurvey}}</span></p>
        <p class="displayFinalCampaign" ng-show="showNewCampaign">End Survey Date: <span class="resultedCampaignEndSurvey">{{resultedCampaignEndSurvey}}</span></p>
    </div>

