<!--SM - shows mainLogo and hides the navbar when on the admin landing page-->
<!--<div ng-show="currentPath === '/'">-->
    <!--<img class="headerLogo" src="../assets/mainLogo.svg" />-->
<!--</div>-->

<div class="container">

    <div class="row">
        <div class="col-md-4 landingButtons">
            <a href="/CreateCampaign">
                <img src="../assets/createCampaign_button.svg" />
            </a>
        </div>

        <div class="col-md-4 landingButtons">
            <a href="/MakeList">
                <img src="../assets/makeList_button.svg" />
            </a>
        </div>

        <div class="col-md-4 landingButtons">
            <a href="/ViewCampaign">
                <img src="../assets/viewCampaigns_button.svg" />
            </a>
        </div>

    </div>
</div>



