
<div class="container">
    <div class="row">
        <div class="col-md-4 landingButtons">
            <a href="/CreateCampaign">
                <img src="../assets/createCampaign_button.svg" />
            </a>
        </div>

        <div class="col-md-4 landingButtons">
            <a href="/MakeList">
                <img src="../assets/makeList_button.svg" />
            </a>
        </div>

        <div class="col-md-4 landingButtons">
            <a href="/ViewCampaign">
                <img src="../assets/viewCampaigns_button.svg" />
            </a>
        </div>

    </div>
</div>



