<h1 class="makeListPageTitle">Make a List</h1>
    <div class="overallContainerMakeList">

    <!--Start choose a campaign dropdown-->
        <div class="makeListBody">
            <form name="myForm">
                <label for="mySelect">Choose a Campaign:</label>
                <select name="mySelect" id="mySelect" ng-options="option.campaignName for option in campaignList.availableOptions" ng-model="campaignList.selectedOption"></select>
            </form>
        </div>
    <!--End choose a campaign dropdown-->



            <div class="volunteersSignedUp">
                <h3><span class="numberText">{{campaignList.selectedOption.volunteers.length}}</span> People Signed Up!</h3>
            </div>

            <div class="sizeOptions">
                <h3>Which sizes are you testing?</h3>
            </div>

                <!--inline checkboxes-->

            <div class="makeListCheckBoxes">
                <form role="form">
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.twoT">2T
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.threeT">3T
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.fourT">4T
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.fiveT">5T
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.six">6
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.seven_eight">7/8
                    </label>
                    <label class="checkbox-inline">
                        <input type="checkbox" ng-model="formData.sizes.nine_ten">9/10
                    </label>
                </form><br>
        </div>
        <div class="generateList">
            <button class="btn btn-default generateListButton" ng-click="sendData()">Generate List</button>
            <button id="regenButton" class="btn btn-default glyphicon glyphicon-refresh btn-default" ng-click="regenerateTesters()"></button>
        </div>
    </div>

<div class="col-md-6 col-md-offset-3">
    <div id="testerTable" class="table-responsive">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Size</th>
                    <th>How the Clothes Fit</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tester in tempTestersArray track by $index">
                    <td>{{tester.name}}</td>
                    <td>{{tester.gender}}</td>
                    <td>{{tester.size}}</td>
                    <td>{{tester.sizeQualifying}}</td>
                    <td>{{tester.street}}</td>
                    <td>{{tester.city}}</td>
                    <td>{{tester.state}}</td>
                    <td>{{tester.zip}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

    <div ng-show="showFinalTester" class="acceptListButtonDiv">
        <button class="btn btn-default acceptListOfTesters" ng-click="acceptListandPost()">Accept List</button>
    </div>




    <!--<div class="displayFinalTesters" ng-show="showFinalTester">-->
        <!--<div ng-repeat="tester in tempTestersArray">-->
            <!--<p>{{tester.name}} {{tester.gender}} {{tester.size}} {{tester.sizeQualifying}} </p>-->
        <!--</div>-->
        <!--<button class="acceptListOfTesters" ng-click="acceptListandPost()">Accept List</button>-->
    <!--</div>-->

