<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../vendors/angular/angular.min.js"></script>
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<div class="backgroundDiv">
    <div class="titleAndButton">
        <h2><img src="../assets/mainLogo.svg" /></h2>
        <div class="signInDiv">
            <h3><a  href="/surveyLogin/facebook" class="btn btn-block btn-social btn-facebook facebookImg">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </a></h3>
        </div>
    </div>
</div>



</body>
</html>