
<h1>View Campaign</h1>

<div class = "makeListBody">
    <form name="myForm">
        <label for="mySelect">Select a Campaign:</label>
        <select name="mySelect" id="mySelect"
                ng-options="option.campaignName for option in campaignList.availableOptions"
                ng-model="campaignList.selectedOption" ng-change="hasChanged()"></select>
    </form>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div ng-repeat="tester in testerList track by $index">
        <div class="panel panel-default" >
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{tester.name}}
                        <!--{{tester.campaignList.selectedOption.testers[0].volunteer1}}-->
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                   {{tester.city}}
                </div>
            </div>
        </div>
    </div>
</div>