
<h1 class="fontColor">View Campaign</h1>

<div class = "makeListBody">
    <form name="myForm">
        <label for="mySelect" class="fontColor">Select a Campaign:</label>
        <select name="mySelect" id="mySelect"
                ng-options="option.campaignName for option in campaignList.availableOptions"
                ng-model="campaignList.selectedOption" ng-change="hasChanged()"></select>
    </form>
</div>


    <ul class="ulAccordian">
        <li class="listItemSection" ng-repeat="tester in testerList" ng-click="accordion.current = tester.name">
            <span class="accordianNameTitle">{{tester.name}}</span>
            <!--<ul ng-show="accordion.current == tester.name">-->
            <ul class="surveyResultList" ng-show="accordion.current == tester.name">
                <li>{{tester.city}}</li>
                <li>{{tester.email}}</li>
            </ul>
        </li>
    </ul>




