<body class="viewCampaignBody">
<h1 class="fontColor">View Campaign</h1>

<div class = "makeListBody">
    <form name="myForm" style="text-align: center">
        <label for="mySelect" class="fontColor">Select a Campaign:</label>
        <select name="mySelect" id="mySelect"
                ng-options="option.campaignName for option in campaignList.availableOptions"
                ng-model="campaignList.selectedOption" ng-change="hasChanged()"></select>
    </form>
</div>


    <ul class="ulAccordian">
        <li class="listItemSection" ng-repeat="tester in testerList" ng-click="accordion.current = tester.volunteer1.name">
           <div class="accordianTitle">
                <span class="accordianNameTitle">{{tester.volunteer1.name}}</span>
                <span class="accrodianSize">{{tester.volunteer1.size}}</span>
           </div>

            <div class="whiteBackground">
                <ul class="contactInfo " ng-show="accordion.current == tester.volunteer1.name">
                    <div class="contactInfoDiv"><li class="contactEmail" ><label>Email</label>{{tester.volunteer1.email}}</li></div>
                    <div class="contactInfoDiv"><li class="contactAddress"><label>Address</label>{{tester.volunteer1.street}},</li>
                    <li class="contactCity"><span class="addressCityStateZip">{{tester.volunteer1.city}},</span><span>{{tester.volunteer1.state}}</span><span>{{tester.volunteer1.zip}}</span></li></div>
                </ul>


            <ul class="surveyResultList" ng-show="accordion.current == tester.volunteer1.name">
                <li><label>Question 1. What was your initial impression of the clothes?</label><p>{{tester.surveyResults.question1}}</p></li>
                <li><label>Question 2. What did you think of the quality of the fabric and sewing?</label><p>{{tester.surveyResults.question2}}</p></li>
                <li><label>Question 3. How did the product fit? Was it too loose or too tight? Was it too long or too short? Are the arm, neck and leg openings big enough?</label><p>{{tester.surveyResults.question3}}</p></li>
                <li><label>Question 4a. Based on your overall experience, how likely would you be to purchase from the Patchery</label><p>{{tester.surveyResults.question4a}}</p></li>
                <li><label>Question 4b. Based on your overall experience, how likely would you be to recommend The Patchery to a friend</label><p>{{tester.surveyResults.question4b}}</p></li>
                <li><label>Question 5. If "maybe," "probably not" or "definitely not" for either of the above, why?</label><p>{{tester.surveyResults.question5}}</p></li>
                <li><label>Question 6. Anything on your mind that we didn't ask about?  Here's your chance to say anything!</label><p>{{tester.surveyResults.question6}}</p></li>
                <li><img ng-src="{{tester.surveyResults.file.path}}"></li>


            </ul>
        </li>
    </ul>
</div>


</body>
