<!DOCTYPE html>
<html lang="en" ng-app="sign">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../../vendors/angular/angular.min.js"></script>
    <script src="../../vendors/jquery/dist/jquery.min.js"></script>

    <script src="../../stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../javascripts/SignUpController.js"></script>
    <link rel="stylesheet" href="../../stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" href="stylesheets/style.css">-->
    <link rel="stylesheet" href="stylesheets/volunteerSignUp.css">
</head>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <img src="../assets/logo_button.svg" />
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="/">Home</a></li>     Can't use this for now because of static links and no user home-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>

<body ng-controller="SignUpController">
<!--<div class="page-header text-center">-->
    <!--<p><span class="fa fa-sign-out"></span> Profile Page</p>-->
    <!--<a href="/signUp/logout" class="btn btn-default btn-sm">Logout</a>-->
<!--</div>-->
<!--<div ng-show="faceButtonShow">-->
    <!--<a ng-click="goFacebook" href="/signUp/facebook" class="btn btn-block btn-social btn-facebook">-->
        <!--<span class="fa fa-facebook"></span> Sign in with Facebook-->
    <!--</a>-->
<!--</div>-->

<div ng-show="signUpForm">
    <!--<h1>Volunteer Sign Up</h1>-->
    <h1 class="pageTitle">Volunteer Sign Up</h1>
    <div class="form-group formDiv">
        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate class="css-form formClass">
            <div class="form-group">
                <label class="formSectionTitle">Full Name: </label><input type="text" ng-model="name"  required><span class="redStar">*</span><br/>
                <label class="formSectionTitle">Street: </label><input type="text" ng-model="street" required><span class="redStar">*</span><br/>
                <label class="formSectionTitle">City: </label><input type="text" ng-model="city" required><span class="redStar">*</span><br/>
                <label class="formSectionTitle">State: </label><input type="text" ng-model="state" required><span class="redStar">*</span><br/>
                <label class="formSectionTitle">Zip: </label><input type="number" ng-model="zip" required><span class="redStar">*</span><br/>
                <label class="formSectionTitle">Email: </label><input type="email" ng-model="email" required><span class="redStar">*</span><br/>
                <label class="formSectionTitle">Gender: </label>
                    <span class="enclosingForSelects"><select ng-model="gender">
                    <!--<option>select</option>-->
                    <option>Male</option>
                    <option>Female</option>
                    </select></span><span>&nbsp;</span><br/>
                <label class="formSectionTitle">Size: </label>
                    <span class="enclosingForSelects"><select ng-model="size" required>
                        <!--<option>Select size</option>-->
                        <option>2T</option>
                        <option>3T</option>
                        <option>4T</option>
                        <option>5T</option>
                        <option>6</option>
                        <option>7/8</option>
                        <option>9/10</option>
                </select></span><span class="redStar">*</span><br/>
                <label class="formSectionTitle">How does it fit? </label>
                    <span class="enclosingForSelects"><select ng-model="sizeQualifying" required>
                        <!--<option>Select option</option>-->
                        <option>Typically fits just right</option>
                        <option>Typically fits small</option>
                        <option>Typically fits big</option>
                    </select></span><span class="redStar">*</span><br>
                <label for="mySelect" class="formSectionTitle">Select Campaign:</label>
                <select name="mySelect" id="mySelect"
                        ng-options="option.campaignName for option in campaignList.availableOptions"
                        ng-model="campaignSelect" required></select><span class="redStar">*</span>
            </div>
            <button class="buttonClass" ng-click="sendSignUpForm()" ng-class="{filledOutCorrectly: userForm.$valid}" ng-disabled="userForm.$invalid" >Submit</button>
        </form>
    </div>

</div>



</body>
</html>