<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form action="/signUp" method="post">
        <div>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username"/>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Log In"/>
            <a href="/register">Register</a>
        </div>
    </form>

<a href="/signUp/facebook">Sign in with Facebook</a>


    <!--<div class="page-header text-center">-->
        <!--<h1><span class="fa fa-anchor"></span> Profile Page</h1>-->
        <!--<a href="/logout" class="btn btn-default btn-sm">Logout</a>-->
    <!--</div>-->
</body>
</html>