<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/javascripts/angular/angular.min.js"></script>
    <script src="javascripts/jquery/dist/jquery.min.js"></script>
    <script src="stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/app.js"></script>
    <link rel="stylesheet" href="stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">


    <title></title>
</head>
<body>
    <h1>Hello yall</h1>
</body>
</html>