body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
@font-face {
    font-family: myFirstFont;
    src: url('../fonts/KlinicSlabMedium.otf');
}
/* ***************************** START Home Page CSS **************************************/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

header {
    height: 175px;
    background-color: #f2f2f2;

}

.mainHeader {
    margin: 0 auto 10px auto;
}

/*.headerLogo {*/
  /*height: 200px;*/
/*}*/

.menuButton {
    margin: 15px 20px auto auto;
    background-color: #FFA500;
    opacity: 0.7;
    color: #fff;
}

.menuButton:hover {
    color: #e6e6e6;
}

.logoHeader img {
    height: 150px;
    display: block;
    margin: 0 auto;
}

.landingButtons {
    /*margin: 15px 40px 15px 40px;*/
    display: block;
    margin: 20px auto;
}

/* ***************************** End Home Page CSS **************************************/


/* ***************************** START CREATE CAMPAIGN CSS **************************************/
/*.pageImg {*/
    /*margin: 0 auto;*/
    /*display: block;*/
/*}*/
.overallContainer {
    width: 75%;
    margin: 15px auto;
    display: block;
}

.pageTitle {
  text-align: center;
    margin: 20px auto 35px auto;
    font-family: myFirstFont;
    color: #FAA41A;
    font-size: 50px;

}


/*.createCampaignTitles{*/
  /*font-size: 15px;*/
  /*!*width:20%;*!*/
/*}*/

/*.createCampaignTitles input {*/

/*}*/


/*.createCampaignInputs{*/
    /*width: 250px;*/
    /*margin: 0;*/
    /*box-sizing: border-box;*/
/*}*/

/*.oneLineCreateCampaign{*/
  /*display:block;*/
  /*margin-bottom: 9px;*/
/*}*/



/*Individual titles on Create Campaign. Moving them a little bit so they align together. Also the resulted new Campaign */
/*.startSignUp .endSignup .startSurvey .endSurvey {*/
    /*font-size: 15px;*/
    /*!*text-align: right;*!*/
/*}*/

/*.dateLabels {*/
    /*font-size: 15px;*/
    /*text-align: center;*/
/*}*/

/*.formDates input {*/
    /*width: 150px;*/
    /*margin: 0;*/
    /*box-sizing: border-box;*/
    /*display: inline-block;*/
/*}*/

/*#middleRow {*/
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: center;*/
    /*margin: 25px auto 20px auto;*/
/*}*/

/*.formSignUpDates {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-right: 10px;*/
    /*!*float: left;*!*/
    /*!*margin-left: 20px;*!*/
/*}*/

/*.formSurveyDates {*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-left: 10px;*/
    /*!*margin-left: 20px;*!*/
/*}*/


/*.startSignUp{*/
  /*position: relative;*/
  /*left: 5px;*/
/*}*/

/*.endSignup{*/
    /*position: relative;*/
  /*left: 10px;*/
/*}*/

/*.startSurvey{*/
    /*position: relative;*/
  /*left: 10px;*/
/*}*/

/*.endSurvey{*/
  /*position: relative;*/
  /*left: 17px;*/
/*}*/
/******* END ************/

.displayFinalCampaign{
  font-size: 20px;
  font-weight:bold;
}

.newCampaignDisplay{
  background-color: rgba(167, 168, 192, 0.8);
  margin-top: 50px;
}

.submitNewCampaign{
  /*float:right;*/
  margin: 0 auto;
    display: block;
    width: 20%;
}

.formText .makeListBody #dropdownTestName{
  text-align:center;
}



/* ***************************** END CREATE CAMPAIGN CSS **************************************/


/* ***************************** START MAKE LIST CSS **************************************/
/*.volunteersSignedUp .sizeOptions {*/
    /*text-align:center;*/
/*}*/

/*.volunteersSignedUp  {*/
    /*font-size: 15px;*/
    /*text-align: center;*/
/*}*/
.makeListPageTitle {
    color: #FAA41A;
    font-family: myFirstFont;
    font-size:50px;
    text-align: center;
}

.makeListBody {
    font-size: 18px;
    font-weight: lighter;

}
.checkbox-inline {
    padding-right: 10px;
}

.overallContainerMakeList {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;
    /*background-color: rgba(242, 243, 245, 0.52);*/
    display:block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    padding:20px 0;
    /*box-shadow: 1px 1px 10px #46413B;*/
    /*font-weight: bold;*/
    /*font-family: myFirstFont;*/
}

.numberText {
    color: #FAA41A;
}
.generateListButton {
    background-color: white;
}
#regenButton {
    background-color: #FAA41A;
}

.displayFinalTesters {
    text-align: center
}




/* ***************************** END MAKE LIST CSS **************************************/



/* ***************************** START VIEW CAMPAIGNS CSS ******************************/

.fontColor{
    color: #46413B;
    text-align: center;
}

.listItemSection{
    background-color: rgb(242, 242, 242);;
    padding: 5px;
    margin: 6px;
    position: relative;
    right: 20px;
    box-shadow: 2px 2px 5px;
}

.accordianNameTitle{
    list-style: none;
    font-weight: bold;
    font-size:20px;
    color: #46413B;
}



.accordianNameTitle:hover{
    cursor: pointer;

}

.viewCampaignBody body{
    background-color:white;
}

.ulAccordian{
    list-style: none;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
}

.accrodianSize{
    margin-left: 40px;
    font-weight: bold;
}

.accordianTitle{
    margin-bottom: 8px;

}

.addressCityStateZip{
    margin-right: 15px;
}

.surveyResultList label{
    display:block;
}

 .contactAddress label{
    display:block;
}

 .contactEmail label{
     display:block;
 }

.contactInfoDiv{
    list-style: none;
    background-color: white;
    display: block;
    margin-right: 123px;
    clear: right;
    margin-bottom: 15px;
}

.whiteBackground{
    background-color: white;
}

.surveyResultList{
    clear: both;
    list-style: none;
    background-color: white;
}

/* ***************************** END VIEW CAMPAIGN CSS *******************************/


/********************************* START SIGN UP FORM CSS ***************************************/
.btn-social {
  width: 230px;
}
.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
/*.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}*/
/*.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}*/
/*.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}*/
/*.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding:0}.btn-social-icon>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}*/
/*.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg>:first-child{line-height:45px;width:45px;font-size:1.8em}*/
/*.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm>:first-child{line-height:28px;width:28px;font-size:1.4em}*/
/*.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs>:first-child{line-height:20px;width:20px;font-size:1.2em}*/
/*.btn-social-icon>:first-child{border:none;text-align:center;width:100% !important}*/
/*.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}*/
/*.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}*/
/*.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}*/
.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}.btn-facebook:focus,.btn-facebook.focus{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{color:#fff;background-color:#2d4373;border-color:rgba(0,0,0,0.2)}.btn-facebook:active:hover,.btn-facebook.active:hover,.open>.dropdown-toggle.btn-facebook:hover,.btn-facebook:active:focus,.btn-facebook.active:focus,.open>.dropdown-toggle.btn-facebook:focus,.btn-facebook:active.focus,.btn-facebook.active.focus,.open>.dropdown-toggle.btn-facebook.focus{color:#fff;background-color:#23345a;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open>.dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled.focus,.btn-facebook[disabled].focus,fieldset[disabled] .btn-facebook.focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook .badge{color:#3b5998;background-color:#fff}

.signInDiv{

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.facebookImg{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 20px;
}

.titleAndButton{
    position:relative;
    top:30px;
}

/*.surveyLoginBody body{*/
    /*background-color: rgba(240, 240, 240, 0.85);*/
/*}*/



@media screen and (min-width: 750px) {
    .backgroundDiv{
        height: 450px;
    }
}

@media screen and (min-width: 950px) {
    .backgroundDiv{
        height: 600px;
    }
}

@media screen and (min-width: 950px) {
    .backgroundDiv{
        height: 700px;
    }
}

@media screen and (min-width: 1750px) {
    .backgroundDiv{
        height: 850px;
    }
}

/********************************* END SIGN UP FORM CSS ***************************************/


/* ***************************** START SignUP FOR USER ********************************/

/*.formDiv{*/
    /*margin-top: 10px;*/
    /*background-color: rgba(242, 243, 245, 0.52);*/
    /*display:block;*/
    /*text-align: center;*/
    /*width:50%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*padding:20px 0;*/
/*}*/

/*.css-form input.ng-invalid.ng-touched {*/
    /*background-color: #FA787E;*/
    /*color:white;*/
/*}*/


/*.css-form input.ng-valid.ng-touched {*/
    /*background-color: #78FA89;*/
    /*transition:0.5s linear all*/
/*}*/

/*.buttonClass{*/
    /*color: #C7C7C7;*/
/*}*/

/*.filledOutCorrectly {*/
    /*color:black;*/
/*}*/

/*input {*/
    /*width: 20%;*/
/*}*/

/*select{*/
    /*width:20%*/
/*}*/

/*.formSectionTitle{*/
    /*width: 20%;*/
    /*font-size: 19px;*/
    /*text-align: right;*/
    /*position: relative;*/
    /*right: 30px;*/
/*}*/

/*.redStar{*/
    /*color:red;*/
    /*position: relative;*/
    /*top:2px;*/
/*}*/




/*@media screen and (min-width: 480px) {*/
    /*body {*/
        /*background-color: lightgreen;*/
    /*}*/
/*}*/


/* ***************************** END SignUp FOR USER ********************************/

