body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.landingHeader {
  color: #FFFFFF;
  padding-top: 15%;
  text-align: center;
  z-index: 3;
}
